h1 {
    text-align: center;
    background-color:rgba(192,192,192,0.3)
    }
	
.work_exp {
  border: 1px solid black;
  background-color: lightblue;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 1000px;
  margin-left: 10px;
  background-color: lightblue;
   height: 100px;
  width: 500px;
  background-color: powderblue;
  float: right;
  }

.education {
    border: 1px solid black;
  background-color: lightblue;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 1000px;
  background-color: lightblue;
  }
  